<div class="planning-view__row--sidebar-left">

  <div class="planning-view__row--sidebar-left--row">
    <strong><%= row.name %></strong>
  </div>

  <div class="planning-view__row--sidebar-left--row">
    Line 2
  </div>

  <div class="project__priority">
  </div>

</div>
<div class="planning-view__row--expandable-content">


</div>