<div class="pvc-elem__content">

  <div class="planning-view__row--sidebar-left--row">
    <strong><%= row.name %></strong>
  </div>

  <div class="planning-view__row--sidebar-left--row">
    Line 2
  </div>

  <div class="project__priority">
  </div>

</div>
<div class="pvc-elem__content pvc-elem__content_type_expandable">
hello

</div>
